@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Identity Number</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Mark</td>
                <td>Otto</td>
                <td>8905091846087</td>
                <td><a href="#">Admit</a></td>
                @* <td><a asp-action="Register" class="text-decoration-none float-start mt-2">Don't have account?</a></td> *@
            </tr>
            <tr>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>86053061984084</td>
                <td><a href="#">Admit</a></td>
            </tr>
            <tr>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>39601094816086</td>
                <td><a href="#">Admit</a></td>
            </tr>
        </tbody>
    </table>
</div>
